<!--main-container-->
<div class="container-fluid" ng-controller="dateCtrl">
    <!--this button takes you to the page where you can add a new release-->
    <button (click)=navigateNewRelease() class="btn-lg newRelease">
   <span>Add a new release</span><i class="ion-checkmark"></i>
 </button>
    <br>
    <hr>
    <h4 class="text-responsive">Existing Release Plans</h4>
    <br>
    <div class="row container-fluid"><!--container for existing release-->
        <div class="col-md-9">
            <!--getting an existing release lists-->
            <div class="card" *ngFor="let list of release">
                <div class="row">
                    <div class="col-9">
                        <div class="card-header">
                            <!--release name from bdatabase-->
                            <strong class="text-responsive">&nbsp;&nbsp;Release Name : {{list.releaseName}}</strong>
                        </div>
                        <hr>
                        <!--status of particular release-->
                        <h5 class="card-subtitle mb-2">&nbsp;Status: {{list.status}}</h5>
                        <br>
                        <div class="row">
                            <!--release start date-->
                            <h6 class="card-subtitle col">&nbsp;Start Date : {{list.startDate | date: "dd.MM.y"}}</h6>
                            <!--release release date-->
                            <h6 class="card-subtitle col">&nbsp;Release Date : {{list.releaseDate | date: "dd.MM.y"}}</h6>
                        </div>
                        <br>
                        <!--description-->
                        <p class="card-text">&nbsp;Description : {{list.description}}</p>
                        <br>
                    </div>
                    <div class="col-3 card">
                        <!--column for adding a sprint into a particular release-->
                        <div class="text-center card-header sprintsList">
                            <strong>Add Sprints:</strong>
                        </div>
                        <div class="sprintPortion">
                            <div class="card-text" dnd-sortable-container [dropZones]="['boxers-zone']" [sortableData]="listTeamOne">
                                <ul class="list-group">
                                    <!--dragging and storing a sprints from a sprint list-->
                                    <li *ngFor="let item of listTeamOne; let i = index" class="list-group-item" dnd-sortable [sortableIndex]="i">{{item.sprintId}} : {{item.sprintGoal}}</li>
                                    <li></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--column ends-->
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row">
                <div class="col-2"></div>
                <div class="col-md-10">
                    <div class="card">
                        <div class="card-header">
                            <strong>Lists of Sprints:</strong>
                        </div>
                        <!--drag n drop starts-->
                        <div class="card-text" dnd-sortable-container [dropZones]="['boxers-zone']" [sortableData]="data">
                            <ul class="list-group">
                                <!--list of all sprints related to a project id-->
                                <li *ngFor="let item of data; let i = index" class="list-group-item" dnd-sortable [sortableIndex]="i">{{item.sprintId}}:{{item.sprintGoal}}</li>
                            </ul>
                        </div>
                        <!--drag and drop ends-->
                    </div>
                </div>
            </div>
        </div>
    </div><!--contaimer for existing release ends-->
</div><!--main container ends-->