
<div class="card text-center">
    <div class="card-header">
     <h2> Efficiency - {{data}} %</h2><span *ngIf="data >= 100" class="fa fa-star">star performer</span>
    </div>
    <div class="card-body">
        <div class='efficiency' >
            <canvas baseChart
                        [data]="doughnutChartData"
                        [labels]="doughnutChartLabels"
                        [chartType]="doughnutChartType"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)">
            </canvas>
          </div>
    </div>
    <div class="card-footer ">
      **Efficiency Of A Member According**
    </div>
  </div>