<div class="container">
  <br>
  <div class="heading rounded">
    <strong>Add New Projects</strong>
  </div>
  <hr>
  <div class="row tool">
    <figure class="addNewProject">
        <span class="tooltiptext">Click to add a new project</span>
      <img src="./../assets/images/addproject.png" alt="sq-sample14" />
      <figcaption>
        <i class="ion-android-add">
          <a id="subbtn" class=" info col-4 btn-responsive" routerLink="/app-dashboard/fill-details/id"></a>
        </i>
      </figcaption>
    </figure>   
  </div>
  <br>
  <br>
  <div class="heading">
    <strong>Existing Projects</strong>
  </div>
  <hr>
  <div *ngIf="projects">
    <div class="row">
      <div class="col-lg-4" *ngFor="let item of projects | paginate: { itemsPerPage: 3, currentPage: p }">
        <app-project-detail *ngIf="item" [Data]="item" (onDelete) = "onDelete($event)"></app-project-detail>
      </div>
    </div>
  </div>
  <div *ngIf="data">
     <p>There are no existing project,please make new project</p>
  </div>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>