<div class="container">
  <h1>Add New Projects</h1>
  <hr>
  <div class="row">
    <figure class="snip1566">
      <img src="./../assets/images/addproject.png" alt="sq-sample14" />
      <figcaption>
        <i class="ion-android-add">
          <a id="subbtn" class=" info col-4 btn-responsive" routerLink="/app-dashboard/fill-details/id"></a>
        </i>
      </figcaption>
    </figure>   
  </div>
  <h1>Existing Projects</h1>
  <hr>
  <br>
  <div>
    <div class="row">
      <div class="col-lg-4" *ngFor="let item of projects | paginate: { itemsPerPage: 3, currentPage: p }">
        <app-project-detail *ngIf="item" [Data]="item" (onDelete)="onDelete($event)"></app-project-detail>
      </div>
    </div>
  </div>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>