<div class="container" ng-controller="dateCtrl">
  <div class="row">
    <!-- Sprint container -->
    <div class="sprint col-lg-7 col-sm-7 col-md-7 rounded">
      <h1 id="header_sprint">
        <strong>Sprints</strong>
      </h1>
      <hr>
      <!-- Sprints already present  -->
      <div class="sprints card" *ngFor= " let sprint of sprints">
        <div class="card-header">
          {{sprint.sprintName}}
          <p class="date">{{sprint.startDate | date: "dd.MM.y"}}</p>
        </div>
        <div dnd-droppable (onDropSuccess)="updateStoryInSprint($event,sprint.sprintId)"  [dropZones]="['boxers-zone']" class="panel panel-info">
          <div class="story" *ngFor="let story of backlogs">            
            <div class="card-text" id="story_name" *ngIf=compareStory(sprint.sprintId,story.inSprintNo)>
              <p>{{story.storyName}}</p>             
            </div>
          </div>
          <ul><li></li></ul>
        </div>
      </div>
      <hr>
      <!-- Add Sprint Button -->
      <div id="btn_sprint">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Add Sprint</button>
      </div>
      <!-- End of Add Button -->
    </div>
    <!-- End of Sprint Container -->
    <!-- Unassigned Backlogs -->
    <div class="backlogItmes col-lg-4 col-sm-4 col-md-4 rounded">
      <h1 id="header_backlog_items">
        <strong>Unassigned Backlog Items</strong>
      </h1>
      <hr>
      <!-- Backlogs that are not assigned -->
      <div class="unassigned_backlogs">
        <div *ngFor="let story of backlogs; let i = index" [dropZones]="['boxers-zone']" dnd-draggable [dragEnabled]= "true" [dragData]="story">
          <div class="list-group-item" *ngIf="story.inSprintNo == 0">
           <div class="card-text"> <p>{{story.storyName}}</p></div>
          </div>
        </div>
      </div>
      <hr>
    </div>
    <!-- End of Unassigned Backlogs -->
  </div>
</div>
<!-- Modal Form -->
<div class="modal fade mdl" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">Sprint Details</h4>
      </div>
      <div class="modal-body container">
        <form class="form-group">
          <div class="row">
            <div class="col-3">
              <label class="text-responsive"><strong>Sprint ID</strong></label>
            </div>
            <div class="col-9">
              <input type="text" id="text-input" name="sprintname" class="form-control" [(ngModel)]="newsprint.sprintName" placeholder="Enter Sprint Name">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-3">
              <label class="text-responsive"><strong>Sprint Description</strong></label>
            </div>
            <div class="col-9">
              <textarea type="text" cols="30" rows="10" name="sprintgoal" class="form-control" [(ngModel)]="newsprint.sprintGoal" placeholder="Description"></textarea>
            </div>
          </div>
          <br>
          <hr>
          <div class="row">
            <label class="datelabel col"><strong>Start Date</strong></label>
            <div class="date col">
              <input class="form-control" type="date" id="example-date-input" name="startdate" [(ngModel)]="newsprint.startDate">
            </div>
            <label class="datelabel col"><strong>No. of Days</strong></label>
            <div class="date col">
              <input type="text" id="text-input" name="text-input" name="sprintname" class="form-control" [(ngModel)]="newsprint.totalDays">
            </div>
          </div>
          <div class="modal_btns">
            <button class="btn btn-primary" type="submit" (click)="onSaveSprint()" data-dismiss="modal" target="blank">Submit</button>
            <button class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>