<div class="main">
    <div class="card  inverse">
      <div class="card-header"><h2>Burn-Down Chart</h2></div><!--chart title-->
        <hr>
    <div style="display: block;">
    <canvas baseChart width="300" height="102"
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
    </div>
    
  <div class="container" style="margin-bottom: 5px">
    <table class="table table-responsive table-condensed"><!--Table for the graph starts-->
      <tr>
        <th *ngFor="let label of lineChartLabels">{{label}}</th><!--Bring the values -->
      </tr>
      <tr *ngFor="let d of lineChartData">
        <td *ngFor="let label of lineChartLabels; let j=index">{{d && d.data[j]}}</td>
      </tr>
    </table>
    <button (click)="randomize()">CHANGE SPRINT</button><!--random function to get random value for the tasks -->
  </div>
</div>
  </div>

