<div class="container-fluid" *ngIf="isDataAvailable">
  <div class="row">
    <div class="offset-1 col-10">
      <div class="table-head text-responsive rounded">
        <h3>Kanban Board</h3>
        <hr>
        <h5>Sprint Name : {{data[0].sprintBacklogs.sprintName}} </h5>
        <h5>Sprint Goal : {{data[0].sprintBacklogs.sprintGoal}}</h5>
      </div>



      <br>
      <table class="table table-responsive">
        <thead class="heading">
          <tr>
            <th class="h5 h5-responsive text-center">Unplanned</th>
            <th class="h5 h5-responsive text-center">In Progress</th>
            <th class="h5 h5-responsive text-center">Complete</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>

              <div class="border" *ngFor="let item of data">
                <ul *ngIf="item.status == 'Unplanned'">
                  <li id="todo" data-toggle="popover" data-placement="top" title="total checklists: 10 &nbsp; remaining: 2 &nbsp; inprogress: 5 &nbsp; completed: 8">
                    <p class="h6 text-responsive">{{item.taskName}}</p>
                  </li>
                </ul>
              </div>

            </td>
            <td>

              <div *ngFor="let item of data">
                <ul *ngIf="item.status == 'Inprogress'">
                  <li id="doing" data-toggle="tooltip" data-placement="top" title="total checklists: 10 &nbsp; remaining: 2 &nbsp; inprogress: 5 &nbsp; completed: 8">
                    <p class="h6">{{item.taskName}}</p>
                  </li>
                </ul>
              </div>

            </td>

            <td>

              <div *ngFor="let item of data">
                <ul *ngIf="item.status == 'Completed'">
                  <li id="done" data-toggle="tooltip" data-placement="top" title="total checklists: 10 &nbsp; remaining: 2 &nbsp; inprogress: 5 &nbsp; completed: 8">
                    <p class="h6">{{item.taskName}}</p>
                  </li>
                </ul>
              </div>

            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>