<!-- used for kanban board -->
<div class="container">
  <div class="task-table row">
    <div class="table-head">
			<!--Heading of page -->
       <h1>Task - Kanban Board</h1> 
		</div>
		<!-- Start of table -->
    <table class="table"> 
      <thead>
        <tr>
					<!-- Header of table -->
          <th>Unplanned</th>
          <th>In Progress</th>
          <th>Complete</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
						<!-- Iteration for task backlog -->
            <div *ngFor="let item of data">
							<!-- if condition for unplanned -->
              <ul *ngIf="item.status == 'Unplanned'">
                <li id="todo">
                  <a>
                    <p>{{item.taskName}}</p>
                  </a>
                </li>
              </ul>
            </div>
          </td>
          <td>
            <div *ngFor="let item of data">
              <ul *ngIf="item.status == 'Inprogress'">
                <li id="doing">
                  <a>
                    <p>{{item.taskName}}</p>
                  </a>
                </li>
              </ul>
            </div>
            <!-- </div> -->
          </td>

          <td>
            <!-- <div class="complted col-lg-4"> -->
            <div *ngFor="let item of data">
              <ul *ngIf="item.status == 'Completed'">
                <li id="done">
                  <a>
                    <p>{{item.taskName}}</p>
                  </a>
                </li>
              </ul>
            </div>
            <!-- </div> -->
          </td>
        </tr>

      </tbody>
    </table>
  </div>
</div>